<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
     package="com.promoclick.databindingcard">

    <application
         android:allowBackup="true"
         android:icon="@mipmap/ic_launcher"
         android:label="@string/app_name"
         android:roundIcon="@mipmap/ic_launcher_round"
         android:supportsRtl="true"
         android:theme="@style/AppTheme">
        <activity
             android:name="com.mastercard.gateway.android.sdk.Gateway3DSecureActivity"
             android:label="@string/gateway_3d_secure_authentication" />
        <activity android:name=".CardActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Enables the Google Pay API -->
        <meta-data
             android:name="com.google.android.gms.wallet.api.enabled"
             android:value="true" />
    </application>

</manifest>